/* dung base */
* {
  box-sizing: border-box;
}
:root {
  --header-bg: #10375c;
}
html {
  /* doi px sang rem */
  font-size: 62.5%;
}
body {
  /* 10px la 1rem */
  font-size: 1.6rem;
  font-family: "Sora", serif;
}
/* =======================================common======================================= */
.container {
  width: 1170px;
  /* khong bi co lai dan den mat chu (luon cach le moi ben 24px) */
  max-width: calc(100% - 48px);
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: #575f66;
  cursor: pointer;
  /*cursor:wait;
    cursor:default;
    cursor:text;
  */
}
.btn {
  display: inline-block;
  /* the a nen dung line-height */
  min-width: 205px;
  line-height: 60px;
  color: #fff;
  background: #2e80ce;
  font-size: 1.8rem;
  font-weight: 400;
  border-radius: 999px;
  text-align: center;
}
.btn:hover {
  opacity: 0.7;
}
.section-heading {
  color: #10375c;
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -1px;
}
.section-desc {
  margin-top: 18px;
  color: #575f66;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.67;
}
.control {
  display: flex;
  column-gap: 18px;
  align-items: center;
}
.control__btn {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #575f66;
  background-color: #fff;
  cursor: pointer;
  transition: 0.25s;
}
.control__btn:hover {
  color: #fff;
  background-color: #2e80ce;
  border-color: #2e80ce;
}
.control-icon--next {
  /* xoay button 180 do */
  rotate: 180deg;
}
/* =======================================header======================================= */
.header {
  padding-top: 30px;
  min-height: 100vh;
  background: var(--header-bg);
}
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar__list {
  display: flex;
  gap: 42px;
}
.header__action--login,
.navbar__link {
  padding: 8px 21px;
  color: #c9d2da;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75;
}
.navbar__link:hover,
.navbar__link--active {
  color: #fff;
  font-size: 1.6rem;
  /* font-weight: 400; */
  /* su dung font-weight thi cac chu xung quanh se bi day =>text-shadow */
  text-shadow: 1px 0 0 currentColor;
  line-height: 1.75;
}
.navbar__link--active::before {
  content: "";
  /* the a la inline nen khong nhan kich thuoc */
  display: inline-block;
  width: 6px;
  height: 6px;
  background-color: #fff;
  border-radius: 50%;
  position: relative;
  right: 8px;
  top: -3px;
}
.header__action--signup {
  display: inline-block;
  min-width: 104px;
  font-size: 1.6rem;
  font-weight: 400;
}
.header__action--login {
  margin-right: 7px;
}
/* =======================================hero======================================= */
.hero {
  padding-top: 76px;
  display: flex;
  align-items: center;
}
.hero__content {
  width: 36%;
}
.hero__media {
  /* chiem phan con lai cua container(100-36%) */
  flex: 1;
}
.hero__heading {
  width: 517px;
  color: #fff;
  font-size: 7rem;
  font-weight: 600;
  line-height: 1.14;
  letter-spacing: -1.4px;
}
.hero__desc {
  margin-top: 22px;
  color: #c9d2da;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.67;
}
.hero__row {
  margin-top: 38px;
  display: flex;
  align-items: center;
  gap: 38px;
}
.hero__phone {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.67;
}
.hero__images {
  display: flex;
  justify-content: end;
  align-items: center;
}
.hero__image {
  object-fit: cover;
  border-radius: 6px;
}
.hero__image--large {
  width: 330px;
  height: 540px;
  margin-right: -9px;
  /* dung z-index de phan tu noi len */
  z-index: 1;
}
.hero__image--small {
  width: 210px;
  height: 410px;
}
/* =======================================service======================================= */
.service {
  padding: 170px 0px;
}
.service__heading,
.service__desc {
  text-align: center;
}
.service__desc {
  /* vi the p chiem chon do rong phan tu cha no nen text align:center can giua khong bi */
  /* truong hop nay ta da dat do rong nen text align:center can giua phan tu co do rong do nhung khong vi tri center cua the cha no nua */
  /* vi the dung margin */
  width: 468px;
  margin: 18px auto 0px;
}
.service__row {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.service__img {
  width: 570px;
  height: 570px;
  border-radius: 12px;
}
.service-item {
  padding: 21px;
  display: flex;
  width: 470px;
  /* khong gion han do cao vi noi dung co the phinh ra */
  /* height: 128px; */
  border-radius: 10px;
  background: #fff;
  transition: 0.25s;
}
.service-item:hover {
  /* khi su dung position no se loi item do ra khoi mat phang khac(loi ra khoi luong thong thuong) va nam o tren mat phang cao hon  */
  position: relative;
  box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
}
.service-item__icon {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background: #eff6fd;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.05);
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 19px;
  transition: 0.25s;
}
.service-item:hover .service-item__icon {
  /* cai rang */
  color: #fff;
  /* mau nen */
  background-color: #2e80ce;
}
.service-item__heading {
  color: #10375c;
  font-size: 1.8rem;
  font-weight: 600;
}
.service-item__desc {
  color: #575f66;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75;
}
.service__btn {
  margin-top: 75px;
}
/* =======================================work======================================= */
.work {
  padding: 100px 0px;
  background: #f6fbff;
}
.work__desc {
  width: 468px;
}
.work__list {
  margin-top: 86px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
}
.work-item {
  padding: 43px;
  border-radius: 4px;
  background-color: #fff;
  border: 16px solid #eaf6ff;
  /* de no tu nhien khong bi doi dot ngot */
  transition: 0.25s;
}
.work-item:hover {
  border: 16px solid #2e80ce;
  /* dich theo truc y */
  transform: translateY(-16px);
}
.work-item__heading {
  margin-top: 18px;
  color: #10375c;
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 1.38;
}
.work-item__desc {
  width: 254px;
  margin-top: 28px;
  color: #575f66;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75;
}
.work-item__more {
  display: inline-block;
  margin-top: 18px;
  color: #2e80ce;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75;
}
/* =======================================about======================================= */
.about {
  padding: 170px 0px;
  /* background-color: red; */
}
.about-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.about__media {
  width: 49%;
}
.about-content {
  width: 40%;
}
.about__img--big,
.about__img--small {
  object-fit: cover;
}
.about__img--big {
  /* the img cung la 1 the inline */

  /* Khi sử dụng thẻ HTML có display: inline hoặc chứa các phần tử inline, có thể xuất hiện khoảng trắng không mong muốn giữa các phần tử do cách trình duyệt xử lý dấu cách, xuống dòng trong HTML.
     Để loại bỏ khoảng hở này, ta có thể sử dụng display: flex;.
  🔹 Nguyên nhân của khoảng hở trong thẻ inline
      Các phần tử inline hoặc inline-block (như <span>, <a>, <img>) được trình duyệt xử lý giống như văn bản, vì vậy:
      Dấu cách, xuống dòng giữa các phần tử inline được tính như khoảng trắng.
      Khoảng cách này tương đương với khoảng cách giữa các chữ cái trong một dòng văn bản. */

  /* Khi sử dụng display: flex;, các phần tử con (flex items) không còn được xử lý như văn bản mà được sắp xếp dựa trên mô hình flexbox. 
  Điều này giúp loại bỏ khoảng trắng thừa. */
  width: 512px;
  height: 370px;
  border-radius: 6px;
  box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.07);
}
.about__img--small {
  position: absolute;
  top: 122px;
  left: 238px;
  width: 332px;
  height: 370px;
  border-radius: 6px;
}
.about__img {
  position: relative;
}
.about-content__btn {
  margin-top: 38px;
}
/* =======================================team======================================= */
.team {
  padding: 170px 0px;
}
.team-header {
  margin: 0 auto;
  text-align: center;
}
.team__cta {
  margin-top: 38px;
}
.team__list {
  display: grid;
  column-gap: 30px;
  grid-template-columns: repeat(4, 1fr);
}
.team-item {
  margin-top: 113px;
}
.team-item:hover .team-item__thumbnail {
  transform: scale(1.1);
}
.team-item__img-bg {
  width: 270px;
  height: 318px;
  border-radius: 6px;
  background: #eaf6ff;
  overflow: hidden;
}
.team-item__thumbnail {
  margin: 28px 4px 0px;
  /* tu dong can ti le */
  max-width: 100%;
  height: 290px;
  object-fit: cover;
  border-radius: 6px;
  transition: 0.25s;
}
.team-item__name {
  margin-top: 12px;
  text-align: center;
  color: #10375c;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75;
}
.team-item__desc {
  text-align: center;
  color: #575f66;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.86;
}
.team__control {
  justify-content: center;
  margin-top: 38px;
}
